@import './navbar' ;
@import './home' ;
@import './news';
@import './cryptoDetails';




// Globals //

:root{
    --red: rgb(99, 12, 12);
}

.bold{
    font-weight: bold;
}

body{
    overflow-x: hidden;
}